@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --text: #B8B8B8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Anton', sans-serif !important;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    color: white;
    background-color: #0E0E0E !important;
}

html {
    scroll-behavior: smooth;
    scroll-padding-bottom: 1000px;
}