.container {
    margin-top: 10rem;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-x: clip;
}

.heading {
    font-weight: 400;
    font-size: 500px;
    left: -50px;
    position: absolute;
    z-index: -1;
}

.inventionsHolder {
    margin-top: 30rem;

    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    .heading {
        font-size: 300px;
        top: 200px;
    }

    .container {
        margin-top: 2.5rem;
    }

    .container {
        margin-top: -10rem;
    }
}

@media screen and (max-width: 960px) {
    .heading {
        font-size: 250px;
        left: -25px;
        top: 250px;
    }
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 200px;
        left: -30px;
        top: 300px;
    }


    .container {
        margin-top: -15rem;
    }
}

@media screen and (max-width: 500px) {
    .heading {
        font-size: 125px;
        left: -10px;
        top: 375px;
    }

}

@media screen and (max-width: 400px) {
    .heading {
        font-size: 100px;
    }
}